html{
    background-image: url('bg.jpg');
}
hr{
    size: 7em;
    color: black;
}

#canvas{
    box-sizing: border-box;
    width: auto;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    font-family: 'Nunito', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; 
    border-radius: 30px;
}

#heading{
    text-align: center;
}

h3{
    font-size: 25px;
    padding: 15px;
    background-color: #ffc107;
    border-radius: 20px;
    font-weight: bold;

}

span{
    color: #6607f3;
    font-weight: bold;
}

#date{
    color: #ff3f02;
}

ul {
    list-style: none;
    font-size: 16px;
    text-transform: capitalize;
}

ul a{
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    font-size: 1.2em;
}

ul a:hover{
    color: red;
}
